# POSTGRES CONFIG
POSTGRES_USER=pg_user
POSTGRES_PASSWORD=pg_password
POSTGRES_DB=pg_data

# N8N CONFIG
N8N_ENCRYPTION_KEY=wygeneruj_dlugi_losowy_ciag_znakow
REEVALUATE_OFFER_WEBHOOK_URL=http://n8n:5678/webhook/offer-re-evaluate
REEVALUATE_OFFER_WEBHOOK_RETRIES=5
REEVALUATE_OFFER_WEBHOOK_RETRY_DELAY_SECONDS=1.5

# OLLAMA CONFIG
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=mistral-nemo:12b-instruct-2407-q8_0
